append head
  script(src='/jquery.js')
  script(src='/prettify/prettify.js')
  link(rel='stylesheet', href='/prettify/prettify.css')
  script
    $(document).ready( function () {
      prettyPrint();
    });
.span10
  - each article in articles
    h3
      a.article-title(href='/post/#{article.doc.slug}') #{article.doc.title}
    div!= marked(article.doc.body)
    - var timestamp = new Date(parseInt(article.key))
    - var postTime = timestamp.getHours() + ":" + timestamp.getMinutes() + " on " + timestamp.getMonth() + "/" + timestamp.getDate() + "/" + timestamp.getFullYear() 
    span.label
      | Posted by #{article.doc.author} at !{postTime} -
      a.comments(href='/post/#{article.doc.slug}#disqus_thread')
  script
    var disqus_shortname = '#{disqus}'; // required: replace example with your forum shortname
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
.span4
  dl
    dt Posts
      each post in posts
        dd
          a(href='/post/#{post.slug}') #{post.title}
    dt Admin
      - if (typeof(user) != 'undefined')
        dd
          a(href='/logout') Log out
        - if (user.admin == 'true')
          dd
            a(href='/post/new') New post
          dd
            a(href='/users') Edit users
      - else
        dd
          a(href='/login') Log in
